$primary: #a68a67;

$text-color: #504336;

$background-color: #fdf4e6;
$background-color-root: #e2cdae;

$component-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.25);

:export {
  primary: $primary;
}
