.App {
  width: 100%;
  margin: auto;
  height: 100vh;
  display: flex;
  position: relative;
  max-width: 1000px;
  justify-content: center;
  background-image: url("../public/images/bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
}
